*{
    margin: 0;
    padding: 0;
    }   

    .subnav-hero-section {
      text-align: center;
      background:	#4682B4;
      background-size: cover;
      position: relative;
      overflow: visible;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 150px;
    }
    
    .subnav-hero-section .subnav-hero-headline {
      color: #fefefe;
      font: 3rem arial, helvetica, sans-serif;
      padding-bottom: 2%;
    }
    
    .subnav-hero-subnav {
      float: none;
      position: absolute;
      text-align: center;
      margin: 0 auto;
      bottom: 0;
      width: 100%;
    }
    
    .subnav-hero-subnav li {
      float: none;
      display: inline-block;
    }
    
    .subnav-hero-subnav li a {
      padding: 0.9rem 1rem;
      font: 1rem arial, helvetica, sans-serif;
      font-weight: bold;
      color: #fefefe;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
      letter-spacing: 1px;
      transition: all 0.45s ease-in-out;
    }
    
    .subnav-hero-subnav li a.is-active {
      background:rgba(254, 254, 254, 0.15);
    }
    
    .subnav-hero-subnav li a:hover {
      background: rgba(254, 254, 254, 0.15);
    }
  

  .wrapper {
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: .3em;
    padding: .3em;
  }

  .wrapper > div{
    background:#eee;
    padding: 1em;
  }

  .box1 > h2 {
    font: 30px Arial, Helvetica, Sans-Serif;
    text-align: left;
  }

  .box2 > h2 {
    font: 30px Arial, Helvetica, Sans-Serif;
    text-align: left;
  }

  .box3 > h2 {
    font: 30px Arial, Helvetica, Sans-Serif;
    text-align: left;
  }

  p {
    font: 16px Arial, Helvetica, Sans-Serif;
    line-height: 1.5em;
  }
